@import '../../styles/variables';

@function makelongshadow($color, $size) {
  $val: 5px 0 0 $size $color;

  @for $i from 6 through 580px {
    $val: #{$val}, #{$i}px 0 0 $size #{$color};
  }

  @return $val;
}

.audio-player-container {
  width: 62rem;

  @media screen and (max-width: 1200px) {
    & {
      width: 90%;
    }
  }

  @media screen and (max-width: 768px) {
    & {
      width: 100%;
      max-width: 400px;
    }
  }
}

.back-button {
  background-color: transparent;
  align-self: flex-start;
  border: none;
  color: $color-background-dark;
  margin-bottom: 2rem;
  border-radius: 2px;
  font-weight: 400;
  font-size: 2.4rem;
  line-height: 3.2rem;
  letter-spacing: -0.4px;
  cursor: pointer;
}

.audio-controls {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 2rem;
  background-color: $color-link-inactive;
}

.play-pause-container {
  width: 100%;
  height: 4rem;
}

.play-pause-button {
  border: none;
  background-color: transparent;
  padding: 0;
  cursor: pointer;

  &:hover {
    color: $color-text-light;
  }

  &:focus {
    outline: none;
  }
}

.progress-container {
  width: 100%;
  margin-top: 50px;
  display: flex;
  align-items: center;
  height: 1.2rem;
}

.progress-bar {
  display: flex;
  align-items: center;
  appearance: none;
  background: none;
  cursor: pointer;
  width: 100%;
  height: 100%;
  margin: 0;
  overflow: hidden;

  &:active {
    cursor: grabbing;
  }

  &::-webkit-slider-runnable-track,
  &::-webkit-slider-thumb {
    -webkit-appearance: none;
  }

  &::-webkit-slider-runnable-track {
    height: 0.2rem;
    background-color: $color-input-field;
  }

  &::-moz-range-track {
    background-color: $color-progress-bar;
    height: 0.2rem;
  }

  &::-moz-range-progress {
    background-color: $color-input-field;
  }

  &::-webkit-slider-thumb {
    margin-top: -0.5rem;
    width: 1.6rem;
    height: 1.2rem;
    background: $color-input-field;
    color: $color-input-field;
    border-radius: 0.6rem;
    box-shadow: makelongshadow($color-progress-bar, -0.5rem);
  }

  &::-moz-range-thumb {
    margin-top: -0.5rem;
    width: 1.6rem;
    height: 1.2rem;
    background: $color-input-field;
    border-radius: 0.6rem;
  }
}

.time-volume-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-top: 4.5rem;
  height: 1.6rem;
}

.time-display {
  font-size: 1.2rem;
  line-height: 1.6rem;
  letter-spacing: -0.3px;
  color: $color-background-dark;
}

.volume-slider {
  appearance: none;
  cursor: pointer;
  width: 25.2rem;
  margin: 0;
  overflow: hidden;
  height: 100%;
  background: none;

  &::-webkit-slider-runnable-track {
    -webkit-appearance: none;
    background-color: $color-text-dark;
    height: 0.2rem;
  }

  &::-moz-range-track {
    background-color: $color-progress-bar;
    height: 0.2rem;
  }

  &::-moz-range-progress {
    background-color: $color-text-dark;
  }

  &::-webkit-slider-thumb {
    -webkit-appearance: none;
    margin-top: -0.5rem;
    width: 1.6rem;
    height: 1.2rem;
    background: $color-text-dark;
    color: $color-text-dark;
    box-shadow: makelongshadow($color-input-field, -0.4rem);
  }

  &::-moz-range-thumb {
    margin-top: -0.5rem;
    width: 1.6rem;
    height: 1.2rem;
    background: $color-input-field;
  }
}
