@import '../../styles/variables';

.label {
  color: $color-background-dark;
  margin-bottom: 2rem;
}

.promo__form {
  width: 62rem;

  @media screen and (max-width: 1200px) {
    & {
      width: 90%;
    }
  }

  @media screen and (max-width: 768px) {
    & {
      width: 100%;
      max-width: 400px;
    }
  }
}

.form__inner {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.input-container {
  display: flex;
  align-items: center;
}

.input-field {
  position: relative;
  width: 100%;
}

.input {
  padding: 3.2rem 1.6rem;
  background-color: $color-input-field;
  border: none;
  font-weight: 300;
  font-size: 2.4rem;
  line-height: 3.2rem;
  letter-spacing: -0.4px;
  color: $color-background-dark;
  width: 100%;

  &::placeholder {
    font-weight: 300;
    color: $color-placeholder;
    font-size: 2.4rem;
    line-height: 3.2rem;
    letter-spacing: -0.4px;
  }

  &.invalid {
    border: 0.5px solid $color-error;
    padding-right: 3.8rem;
  }
}

.button {
  padding: 1.3rem 1.2rem;
  width: 9.6rem;
  height: 9.6rem;
  background-color: $color-brand;
  border: none;
  cursor: pointer;
  transition: opacity 0.3s;

  &:hover,
  &:active {
    opacity: 0.6;
  }

  svg {
    @media screen and (max-width: 700px) {
      & {
        width: 5rem;
        height: 5rem;
      }
    }
  }
}

.error-icon {
  background-image: url('../../assets/warning.svg');
  background-position: center;
  background-size: cover;
  position: absolute;
  margin-right: 1.8rem;
  top: 50%;
  right: 0.5rem;
  transform: translateY(-50%);
  width: 2rem;
  height: 2rem;
}

.error-message {
  margin-top: 0.8rem;
  font-weight: 300;
  font-size: 1.2rem;
  line-height: 1.6rem;
  color: $color-error;
}
