$color-background-light: #eee;
$color-background-dark: #1b191c;
$color-brand: #f8d231;
$color-text-dark: #000;
$color-text-light: #f5f6f7;
$color-placeholder: #a4a3a4;
$color-input-field: #fff;

$font-space-grotesk: 'Space Grotesk';
