@import './styles/variables';
@import './styles/global';

.container {
  max-width: 1440px;
  margin: 0 auto;
  padding: 1.2rem;
  min-height: 100%;

  @media screen and (max-width: 420px) {
    & {
      padding: 0;
    }
  }
}

.title {
  font-weight: 400;
  font-size: 4.8rem;
  line-height: 5.2rem;
  letter-spacing: -1px;

  @media screen and (max-width: 850px) {
    & {
      font-size: 4rem;
    }
  }
}

.promo {
  background-color: $color-background-light;
  padding: 4rem;

  @media screen and (max-width: 420px) {
    & {
      padding: 2rem 1.2rem;
    }
  }
}

.promo__inner {
  width: 100%;
  position: relative;
}

.promo__description {
  width: 35%;
  height: 49.2rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;

  @media screen and (max-width: 768px) {
    & {
      width: 100%;
      height: 320px;
    }
  }
}

.promo__title {
  color: $color-text-dark;
  margin-bottom: 2.4rem;
}

.promo__text {
  font-weight: 300;
  color: $color-background-dark;
  margin-bottom: auto;

  @media screen and (max-width: 768px) {
    & {
      margin-top: auto;
      margin-bottom: 3rem;
    }
  }
}

.promo__agreement {
  font-weight: 300;
  font-size: 1.2rem;
  line-height: 1.6rem;
  letter-spacing: -0.3px;
  color: $color-background-dark;
}

.promo__link {
  font-weight: 300;
  font-size: 1.2rem;
  line-height: 1.6rem;
  letter-spacing: -0.3px;
  color: $color-background-dark;
}

#audio-player {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-width: 60%;

  @media screen and (max-width: 768px) {
    & {
      top: 25rem;
      left: 0;
      align-items: flex-start;
    }
  }
}

.pricing__inner {
  padding: 12rem 4rem;

  @media screen and (max-width: 850px) {
    & {
      padding: 4rem 5.5rem;
    }
  }

  @media screen and (max-width: 420px) {
    & {
      padding: 4rem 1.2rem;
    }
  }
}

.pricing__description {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 12rem;

  @media screen and (max-width: 768px) {
    & {
      flex-direction: column;
      margin-bottom: 8rem;
    }
  }
}

.pricing__container {
  width: 50%;
  margin-right: 3.6rem;

  @media screen and (max-width: 768px) {
    & {
      width: 100%;
      margin: 0;
    }
  }
}

.pricing__title {
  color: $color-text-light;
  margin-bottom: 4rem;
}

.pricing__text {
  font-weight: 300;
  color: $color-background-light;
}

.pricing__image {
  width: 50%;
  height: 24.8rem;
  background-image: url('./assets/Illustration.png');
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;

  @media screen and (max-width: 768px) {
    & {
      width: 100%;
    }
  }
}

.pricing__subtitle {
  margin-bottom: 4rem;
}

.pricing__list {
  display: flex;
  align-items: flex-start;
  margin-bottom: 3.5rem;
}

.pricing__list-item {
  margin-right: 1.6rem;
  position: relative;
  color: $color-link-inactive;
  cursor: pointer;
}

.pricing__list-item_active {
  color: $color-text-light;

  &::after {
    content: '';
    width: 100%;
    height: 0.1rem;
    background-color: $color-background-light;
    position: absolute;
    bottom: -3px;
    left: 0;
  }
}

.pricing__table {
  column-count: 2;
  column-gap: 4.8rem;
  display: none;

  &.pricing__table_shown {
    display: block;
  }

  @media screen and (max-width: 768px) {
    & {
      column-count: 1;
    }
  }
}

.pricing__table-row {
  display: grid;
  grid-template-columns: 25rem auto;
  padding: 1.2rem 0;
  border-bottom: 1px solid rgba(207, 211, 214, 0.1);
}
